.body_background_light-gradient {
  background: radial-gradient(circle, #00ff23 0%, #ff5656 33%, #ffe73d 67%, #00d4ff 100%);
}

.body__hr {
  margin-top: 2rem;
}

.body__button_size {
  line-height: 1.15;
}

.body__button_font-family {
  font-family: inherit;
}

.body__regular-list {
  list-style-type: none;
  padding-left: 0;
}

.body__main {
  min-height: 81.2vh;
  background-color: rgb(253, 246, 255);
  overflow-wrap: break-word;
  padding: 3rem;
  border-left: 5px solid rgb(165, 80, 1);
  border-right: 5px solid rgb(165, 80, 1);
}

.body__main_rounded {
  border: none;
  border-radius: 10rem;
}

.body__main_section {
  padding-top: 2rem;
}

.body__main_center {
  display: flex;
  justify-content: center
}

.body__header,
.body__footer {
  display: flex;
  background-color: rgba(110, 142, 196, 0.6);
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: black;
}

.body__header {
  position: fixed;
  top: 0;
}

.body__footer {
  bottom: 0;
}

.body__header *,
.body__footer * {
  margin: 0.15rem 0.5rem;
  font-size: 1.5rem;
}

.body__nav,
.body__aside {
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 172, 172);
  border: 1px solid black;
  color: rgb(8, 121, 250);
  opacity: 0.8;
  border-radius: 2rem;
  position: sticky;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 10rem;
  top: 5rem;
}

.body__nav *,
.body__aside * {
  margin: 2px;
  padding-left: 0.5rem;
}

.body__form {
  width: 30rem;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: rgb(231, 231, 231);
}