/*-----------------------Default forms----------------------- */
form {
  width: 530px;
  margin: 0 auto;
  padding: 1em;
}
form p {
  display: inline;
}
form li {
  text-align: right;
}
input, 
textarea {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input[type=checkbox], 
input[type=radio] {
  width: auto;
  border: none;
}
input[type=file] {
  border: none;
  width: 350px; 
}
input:focus, 
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
fieldset {
  box-sizing: border-box;
  border: 1px solid #999;
}
.flex {
  display: flex;
}
.indent-left{
  display: block;
  margin-right: 24px;
}
input:optional {
  border: 1px solid silver;
}
/*-----------------------Stylized forms----------------------- */
#stylized form {
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: rgb(231, 231, 231);
}
#stylized input {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}
#stylized button {
  float: right;
  margin-left: 20px;
}
#stylized label {
  margin-bottom: 30px;
}
#stylized input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  background-color: white;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}
#stylized input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.55em;
  visibility: hidden;
}
#stylized input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
#stylized input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}
#stylized li {
  margin-bottom: 30px;
}
#stylized label :last-child {
  margin-right: 24px;
}
#root #stylized label span,
#root #stylized label abbr {
  margin-right: 0;
}
#stylized p:not(label p) {
  margin-right: 24px;
}
#stylized input + span {
  position: relative;
}
#stylized input:required + span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  border-radius: 8px;
  padding: 0px 10px;
  top: -24px;
  left: -70px;
}
#stylized input:invalid {
  border: 2px solid red;
}
#stylized input:invalid + span::before {
  content: '✖';
  color: red;
}
#stylized input:valid + span::before {
  content: '✓';
  color: green;
}
#stylized input:valid:required:not(input[type="radio"]) {
  border: 2px solid rgb(0, 189, 0);
}
#stylized input:out-of-range + span::after {
  color: white;
  background-color: red;
  width: 190px;
  content: "Outside allowable value range";
  left: -192px;
}
#stylized input[type="text"]:disabled {
  background: #eee;
  border: 1px solid #ccc;
}
#stylized .disabled-label {
color: #aaa;
}
#stylized input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
}
#stylized input[type="radio"]::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: rgb(0, 255, 0);
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}
#stylized input[type="radio"]:checked {
  border: 2px solid rgb(0, 189, 0);
}
#stylized input[type="radio"]:checked::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}
#stylized input[type="radio"]:indeterminate {
  border: 2px solid red;
  animation: 0.4s linear infinite alternate border-pulse;
}
@keyframes border-pulse {
  from {
    border: 2px solid red;
  }

  to {
    border: 6px solid red;
  }
}
/* Это стили для кастомных сообщений об ошибке */
#stylized .error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

#stylized .error.active {
  padding: 0.3em;
}
