@import "body.css";
@import "root.css";
@import "main.css";
@import "text.css";
@import "table.css";
@import "a.css";
@import "form.css";
@import "nav.css";
@import "aside.css";
@import "canvas.css";

@import "mobile.css" screen and (max-width: 600px);
@import "pad.css" screen and (min-width: 600px) and (max-width: 1200px);
@import "desktop.css" screen and (min-width: 1200px);

@font-face {
  font-family: "Lobster";
  src: url("Lobster/Lobster-Regular.ttf");
}

hr {
  margin-top: 20px;
}

.guessSubmit {
  height: initial;
}

.three-columns {
  display: grid;
  grid-template-columns: minmax(0, 12rem) minmax(0, 3fr) minmax(0, 12rem);
}

#header-location {
  padding-bottom: 0.2rem;
  border-bottom: 3px solid rgb(0, 155, 8);
}

#nav-location {
  background-color: rgb(219, 219, 219);
  border: 3px solid rgb(0, 155, 8);
  border-radius: 2rem;
  color: rgb(0, 13, 88);
}

.indent-left {
  margin-right: 1.5rem;
}