/* Сreating and deleting elements with a button */
p.button {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor:pointer;
}

/* ------------------Tab-------------------- */
#tab {
  height: 800px;
}
.info-box {
  width: 452px;
  height: 400px;
  margin: 20px auto 0;
}
/* styling info-box tabs */
.info-box ul {
  border: 1px solid #b60000;
  overflow: hidden;
  height: 50px;
  margin: 0;
  padding: 0;
}
.info-box li {
  float: left;
  list-style-type: none;
  width: 150px;
}
.info-box li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  background: white;
  color: #b60000;
  text-align: center;
  font-weight: bold;
}
.info-box li a:focus, .info-box li a:hover {
  background-color: #b60000;
  color: white;
}
.info-box li a.active {
  background-color: #b60000;
  color: white;
}
/* styling info-box panels */
.info-box .panels {
  clear: both;
  position: relative;
  height: 596px;
}
.info-box article {
  background-color: #b60000;
  color: white;
  position: absolute;
  padding: 10px 20px;
  height: 596px;
  top: 0;
  left: 0;
}
.info-box .active-panel {
  z-index: 1;
}

/* ------------------zoom img------------------- */
#zoom-img {
  height: 750px;
}
#lego {
  position: relative;
  z-index: 0;
  width: 800px;
  height: 500px;
}
#thumb0, #thumb1, #thumb2, #thumb3, #thumb4, #thumb5 {
  width: 100px;
}
.zoom {
  position: relative;
  bottom: 514px;
  z-index: 1;
  width: 800px;
  height: 500px;
}