html {
  font-size: 0.5rem;
}

html * {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 1px;
}

video,
iframe {
  width: 100%;
  height: 100%;
  max-width: 265px;
  max-height: 265px;
  margin-left: auto;
  margin-right: auto;
}

audio {
  width: 100%;
  max-width: 265px;
}