html {
  font-size: 0.7rem;
}

html * {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 1px;
}

video,
iframe {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}