@mixin link ($link, $hover, $active, $visited) {
  a {
    color: $link;

    &:hover {
      color: darken($color: $link, $amount: 20%);
    }

    &:active {
      color: $active;
    }

    @content;
  }
}