/* darkColoured */

h1, h2, h3, p, td, li, label{
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

div > *{
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 45px;
  text-shadow: 3px 3px 1px rgb(124, 255, 244);
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: "Lobster", cursive;
  text-shadow: 3px 3px 1px rgb(255, 0, 0);
}

h3 {
  font-size: 25px;
}

h4, p, td, li {
  font-size: 20px;
}

h1:hover,
h2:hover{
  background-color: rgb(51, 255, 0);
  color:rgb(4, 0, 255);
  text-shadow:none;
}
.cold::first-line{
  background-color: rgb(5, 146, 0);
  color: rgb(0, 0, 0);
}
.green > li{ 
  background-color: chartreuse;
  color: rgb(47, 102, 15);
  width: 8%;
}

/* .outBody {
  margin: 0%;
  border: 8px solid yellow;
  background-color: rgb(255, 199, 248);
} */

/* .inBody{
  margin: 20px;
  background-color: aliceblue;
} */

html{
  border: 8px solid rgb(255, 0, 0);
  background-color: rgb(134, 0, 0);
}

body{
  margin: 20px;
  background-color: rgb(4, 4, 5);
}

.changeName{
  width: 150px;
  border: 5px solid rgb(67, 220, 231);
  color:blue;
}

.changeName:hover{
  width: 150px;
  background-color: deepskyblue;
  color:darkblue;
}

aside{
  opacity: 0.8;
  top:30px;
  position: fixed;
  margin-left: 1400px;
  border: 5px solid rgb(255, 251, 0);
  background-color: rgb(131, 131, 131);
  color: rgb(133, 255, 109);
}

.white{
  color:black;
}

.center{
  text-align: center;
}