html {
  box-sizing: border-box;
}
html ::selection {
  background-color: rgb(14, 0, 143);
  color: rgb(98, 255, 0);
  text-shadow:  3px 3px 2px rgb(255, 0, 0), -3px -3px  2px rgb(255, 0, 255);
}
*, *::before, *::after {
  box-sizing: inherit;
  line-height: 1.6;
  letter-spacing: 1px;
  cursor: url(images/default.cur), default;
}
body {
  margin: 0%;
  background: rgb(0,255,35);
  background: radial-gradient(circle, rgba(0,255,35,1) 0%, rgba(255,86,86,1) 33%, rgba(255,231,61,1) 67%, rgba(0,212,255,1) 100%);
}
#nav-header, 
#nav-footer {
  display: flex;
  height: 50px;
  background-color: rgba(110, 142, 196, 0.6);
  font-size: 1.5rem;
  margin: 0rem;
  align-content: center;
}
#nav-header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 10;
}
footer > *{
  margin: 0px;
}
#location{
  border-bottom: 2px solid rgb(165, 1, 1);
}
#nav-header > p {
  height: 35px;
  margin: 0.425rem 0.5rem;
}
#root {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: minmax(0,0.5fr) minmax(0,3fr) minmax(0,15rem);
  grid-gap: 3rem;
  gap: 3rem;
  grid-template-areas: "sidebar main toc";
  margin: 40px;
  margin-top: 80px;
  background-color: rgb(255, 255, 255);
}
a {
  cursor: url(images/pointer.cur), pointer;
}
.a {
  text-decoration: inherit;
  color: inherit;
}
.white {
  font-size: 1.25rem;
  background-color: rgb(255, 255, 255);
  margin: 40px;
  margin-top: 80px;
}
#foto{
  margin-left: 20px;
  float: left;
  position: relative;
  bottom: 5px;
  left: 10px;
  margin-right: 40px;
}
/* Левая часть */
nav {
  background-color: #fcf0ad;
}
/* Середина */
article {
  overflow-wrap: break-word;
}
h1 {
  text-align: center;
  font-size: 45px;
  color: yellow;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
       	       5px 5px 1px orange,
               6px 6px 2px rgba(0,0,0,0.7),
       	       10px 10px 1px red,
               11px 11px 2px rgba(0,0,0,0.7),
               15px 15px 1px purple,
               16px 16px 2px rgba(0,0,0,0.7);
  -webkit-animation: text-snake 1s infinite alternate;
  -moz-animation: text-snake 1s infinite alternate;
  -ms-animation: text-snake 1s infinite alternate;
  animation: text-snake 1s infinite alternate; 
}
@keyframes text-snake {
  from {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7),
                5px 5px 1px orange,
                6px 6px 2px rgba(0,0,0,0.7),
                10px 10px 1px red,
                11px 11px 2px rgba(0,0,0,0.7),
                15px 15px 1px purple,
                16px 16px 2px rgba(0,0,0,0.7);
  }
  to {
    text-shadow: -1px 1px 2px rgba(0,0,0,0.7),
                -5px 5px 1px orange,
                -6px 6px 2px rgba(0,0,0,0.7),
                -10px 10px 1px red,
                -11px 11px 2px rgba(0,0,0,0.7),
                -15px 15px 1px purple,
                -16px 16px 2px rgba(0,0,0,0.7);
  }
}
h2 {
  text-align: center;
  font-size: 35px;
  font-family: "Lobster", cursive;
  text-shadow: 3px 3px 1.5px rgb(141, 141, 141);
  letter-spacing: 2px;
}
h3 {
  font-size: 25px;
  text-shadow: 0px 0.75px #808d93,
       	      -0.75px 0px #cdd2d5,
       	      -0.75px 1.5px #808d93,
       	      -1.5px 0.75px #cdd2d5,
       	      -1.5px 2.25px #808d93,
       	      -2.25px 1.5px #cdd2d5,
       	      -2.25px 3px #808d93,
       	      -3px 2.25px #cdd2d5,
       	      -3px 3.5px #808d93,
       	      -3.5px 3px #cdd2d5,
       	      -3.5px 4.25px #808d93,
       	      -4.25px 3.5px #cdd2d5;
}
h2:hover {
  text-shadow: -1px -1px 1px #aaa,
                0px 4px 1px rgba(0,0,0,0.5),
                4px 4px 5px rgba(0,0,0,0.7),
                0px 0px 7px rgba(0,0,0,0.4),
                0px 0px 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -30px 35px #ec760c,
                -20px -40px 40px #cd4606,
                0px -50px 65px #973716,
                10px -70px 70px #451b0e;
}
#Списки ul {
  list-style-type: none;
  padding-left: 0;
}
#Списки ul li{
  padding-left: 2rem;
  background-image: url(images/lego.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
/* Правая часть */
aside {
  opacity: 0.8;
  margin-top: 100px;
  background-color: rgb(192, 192, 192);
  color: rgb(8, 121, 250);
  position: sticky;
  top: 50px;
  border-radius: 3%;
}
aside * {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
aside header{
  text-align: center;
  color: black;
}
aside a {
  text-decoration: inherit;
  color: inherit;
  display: inline-block;
  font-size: 17px;
  line-height: initial;
  width: 100%;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}
aside a:hover, .a:hover {
  background-color: rgb(0, 93, 136);
  color: aqua;
}
aside a:active, .a:active {
  color: #ffffff;
}
/* Формы */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0; margin: 0.25rem 1rem;
  height: 80%;
}
textarea {
  overflow: auto;
}
/* Таблица punk*/
#punk {
  
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
  background-color: #ff33cc;
}
#punk thead th:nth-child(1) {
  width: 30%;
}
#punk thead th:nth-child(2) {
  width: 20%;
}
#punk thead th:nth-child(3) {
  width: 15%;
}
#punk thead th:nth-child(4) {
  width: 35%;
}
#punk th, 
#punk td {
  padding: 20px;
}
#punk thead th, 
#punk tfoot th {
  font-family: 'Rock Salt', cursive;
}
#punk th {
  letter-spacing: 2px;
}
#punk td {
  letter-spacing: 1px;
}
#punk tbody td {
  text-align: center;
}
#punk thead, 
#punk tfoot {
  background: url(/images/leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}
#punk thead th, 
#punk tfoot th, 
#punk tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
}
#punk tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}
#punk tbody tr:nth-child(even) {
  background-color: #e495e4;
}
#punk tbody tr {
  background-image: url(/images/noise.png);
}
#punk caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
/* Grid */
.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
.col {
  background: rgb(255,150,150);
}
.span2 { grid-column: auto / span 2;}
.span3 { grid-column: auto / span 3;}
.span4 { grid-column: auto / span 4;}
.span5 { grid-column: auto / span 5;}
.span6 { grid-column: auto / span 6;}
.span7 { grid-column: auto / span 7;}
.span8 { grid-column: auto / span 8;}
.span9 { grid-column: auto / span 9;}
.span10 { grid-column: auto / span 10;}
.span11 { grid-column: auto / span 11;}
.span12 { grid-column: auto / span 12;}

.content {
  grid-column: 3 / 9;
  grid-row: 3 / 5;
}
/* Multicol */
.container {
  column-width: 250px;
  column-gap: 20px;
}
.card {
  break-inside: avoid;
  page-break-inside: avoid;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 0 0 1em 0;
}